.card {
  position: relative;
}

.card__image {
  object-fit: cover;
  width: 413px;
  height: 413px;
  display: block;
  border-radius: 8px;
  margin: 0 0 12px;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    box-shadow,
    0.2s ease;
}

.card__image:hover {
  box-shadow: 0 2px 6px rgba(34, 36, 37, 0.8);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.7s ease-in-out;
  cursor: pointer;
}

.card__like-btn:hover:not(.card__like-btn_active) {
  background-image: url(../images/like-icon-hover.svg);
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.6;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  opacity: 1;
  background-image: url(../images/delete-default.svg);
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: rgba(33, 33, 33, 1);
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
}
