.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  opacity: 0;
  transition:
    visibility 0s ease-in 0.3s,
    opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__header {
  max-width: 630px;
  width: 100%;
  margin: 0 auto 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  width: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 1);
  margin: 0;
}

.modal__close-btn {
  right: 50px;
  top: 32px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0;
  justify-content: center;
}

.modal__input {
  width: 100%;
  padding: 16px 12px;
  margin: 8px 0 0px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

.modal__label {
  margin-bottom: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.modal__submit-btn {
  margin: 24px auto 0 0;
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  background-color: rgba(33, 33, 33, 1);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.9;
}

.modal__caption {
  color: #ffffff;
  background-color: rgba(33, 33, 33, 1);
  font-size: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 8px;
  margin: 8px 0 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__close-btn-preview {
  top: 0;
  right: -52.5px;
  position: absolute;
  background-image: url(../images/close-button.svg);
}

@media screen and (max-width: 616px) {
  .modal__close-btn-preview {
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 408px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__image {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
  }
}
